In [1]:
# ruff: noqa: F704, F811, E402
import httpx
from fr24.authentication import login
from fr24.core import FR24
from fr24.find import find
from fr24.history import (
    airport_list,
    flight_list,
    flight_list_df,
    playback,
    playback_df,
)
from fr24.types.find import FindResult
from fr24.types.fr24 import AirportList

import pandas as pd

In [2]:
async def my_list() -> pd.DataFrame:
    async with httpx.AsyncClient() as client:
        auth = await login(client)
        if auth is not None:
            print(auth["message"])
        list_ = await flight_list(
            client,
            flight="AF291",
            timestamp="2023-11-20",
            auth=auth,
        )
        return flight_list_df(list_)


df = await my_list()  # type: ignore
df

using subscriptionKey and/or accessToken.

,flight_id,number,callsign,icao24,registration,typecode,origin,destination,status,STOD,ETOD,ATOD,STOA,ETOA,ATOA
0,NaN,AF291,None,NaN,None,772,RJBB,LFPG,Scheduled,2023-12-20 03:25:00+00:00,NaT,NaT,2023-12-20 18:20:00+00:00,NaT,NaT
1,NaN,AF291,None,NaN,None,772,RJBB,LFPG,Scheduled,2023-12-17 03:25:00+00:00,NaT,NaT,2023-12-17 18:20:00+00:00,NaT,NaT
2,NaN,AF291,None,NaN,None,772,RJBB,LFPG,Scheduled,2023-12-15 03:25:00+00:00,NaT,NaT,2023-12-15 18:20:00+00:00,NaT,NaT
3,NaN,AF291,AFR291,3754511.0,F-GSQP,B77W,RJBB,LFPG,Estimated dep 12:35,2023-12-13 03:25:00+00:00,2023-12-13 03:35:00+00:00,NaT,2023-12-13 18:20:00+00:00,NaT,NaT
4,858375700.0,AF291,AFR291,3754472.0,F-GSPI,B772,RJBB,LFPG,Landed 19:32,2023-12-10 03:25:00+00:00,NaT,2023-12-10 03:44:48+00:00,2023-12-10 18:20:00+00:00,NaT,2023-12-10 18:32:58+00:00
5,857931392.0,AF291,AFR291,3754468.0,F-GSPE,B772,RJBB,LFPG,Landed 19:14,2023-12-08 03:25:00+00:00,NaT,2023-12-08 03:51:43+00:00,2023-12-08 18:20:00+00:00,NaT,2023-12-08 18:14:54+00:00
6,857424482.0,AF291,AFR291,3754480.0,F-GSPQ,B772,RJBB,LFPG,Landed 19:10,2023-12-06 03:25:00+00:00,NaT,2023-12-06 03:51:40+00:00,2023-12-06 18:20:00+00:00,NaT,2023-12-06 18:10:19+00:00
7,856742316.0,AF291,AFR291,3754470.0,F-GSPG,B772,RJBB,LFPG,Landed 19:10,2023-12-03 03:25:00+00:00,NaT,2023-12-03 03:40:58+00:00,2023-12-03 18:20:00+00:00,NaT,2023-12-03 18:10:02+00:00
8,856319716.0,AF291,AFR291,3754468.0,F-GSPE,B772,RJBB,LFPG,Landed 18:36,2023-12-01 03:25:00+00:00,NaT,2023-12-01 03:40:32+00:00,2023-12-01 18:20:00+00:00,NaT,2023-12-01 17:36:31+00:00
9,855804536.0,AF291,AFR291,3754477.0,F-GSPN,B772,RJBB,LFPG,Landed 18:42,2023-11-29 03:25:00+00:00,NaT,2023-11-29 03:42:35+00:00,2023-11-29 18:20:00+00:00,NaT,2023-11-29 17:42:34+00:00

In [3]:
async def my_playback() -> pd.DataFrame:
    async with httpx.AsyncClient() as client:
        auth = await login(client)
        if auth is not None:
            print(auth["message"])
        list_ = await playback(
            client,
            flight_id="32ddcf4e",
            timestamp=1700191500,
            auth=auth,
        )
        return list_


list_ = await my_playback()  # type: ignore
df = playback_df(list_)
df

using subscriptionKey and/or accessToken.

,timestamp,latitude,longitude,altitude,ground_speed,vertical_speed,heading,squawk
0,2023-11-17 09:02:36+00:00,34.431385,135.241669,0,0,0,320,0
1,2023-11-17 09:05:04+00:00,34.431152,135.241898,0,2,0,320,1629
2,2023-11-17 09:05:32+00:00,34.430954,135.242142,0,2,0,343,1629
3,2023-11-17 09:06:01+00:00,34.430698,135.242279,0,2,0,25,1629
4,2023-11-17 09:06:30+00:00,34.430489,135.242126,0,1,0,50,1629
...,...,...,...,...,...,...,...,...
890,2023-11-17 23:15:43+00:00,49.000362,2.577403,0,9,0,5,476
891,2023-11-17 23:15:48+00:00,49.000607,2.577541,0,10,0,25,476
892,2023-11-17 23:15:53+00:00,49.000671,2.577773,0,9,0,56,476
893,2023-11-17 23:16:15+00:00,49.001209,2.578266,0,0,0,351,476
894,2023-11-17 23:16:26+00:00,49.001461,2.578231,0,4,0,354,476

In [4]:
async def my_arrivals() -> AirportList:
    async with httpx.AsyncClient() as client:
        list_ = await airport_list(
            client,
            airport="tls",
            mode="arrivals",
        )
        return list_


airports = await my_arrivals()  # type: ignore
pd.DataFrame(
    pd.json_normalize(
        airports["result"]["response"]["airport"]["pluginData"]["schedule"][
            "arrivals"
        ]["data"]
    )
)

,flight.identification.id,flight.identification.row,flight.identification.number.default,flight.identification.number.alternative,flight.identification.callsign,flight.identification.codeshare,flight.status.live,flight.status.text,flight.status.icon,flight.status.estimated,...,flight.time.scheduled.arrival,flight.time.real.departure,flight.time.real.arrival,flight.time.estimated.departure,flight.time.estimated.arrival,flight.time.other.eta,flight.time.other.duration,flight.aircraft.images,flight.owner,flight.airline
0,None,5446807673,LH2216,CL2216,DLH94C,None,False,Scheduled,None,None,...,1702452600,None,None,1.702447e+09,None,None,None,NaN,NaN,NaN
1,None,5447046416,T71511,None,TJT1511,None,False,Scheduled,None,None,...,1702452600,None,None,1.702449e+09,None,None,None,NaN,NaN,NaN
2,None,5446787116,IB3072,None,None,[AA8753],False,Scheduled,None,None,...,1702452900,None,None,1.702448e+09,None,None,None,NaN,NaN,NaN
3,None,5447059020,V72530,None,VOE25UU,None,False,Scheduled,None,None,...,1702452900,None,None,1.702448e+09,None,None,None,NaN,NaN,NaN
4,None,5449412122,None,None,DIKBO,None,False,Canceled,red,None,...,1702452960,None,None,NaN,None,None,None,NaN,NaN,NaN
5,None,5446724234,AF7400,None,None,"[AZ2564, DL8307, AM5982]",False,Scheduled,None,None,...,1702453500,None,None,NaN,None,None,None,NaN,NaN,NaN
6,None,5449823083,None,None,ATL6U,None,False,Scheduled,None,None,...,1702454160,None,None,1.702444e+09,None,None,None,NaN,NaN,NaN
7,None,5449977838,V77234,None,VOE7234,None,False,Scheduled,None,None,...,1702454880,None,None,1.702448e+09,None,None,None,NaN,NaN,NaN
8,None,5446723656,AF6104,None,None,None,False,Scheduled,None,None,...,1702455300,None,None,NaN,None,None,None,NaN,NaN,NaN
9,None,5446975417,AF1706,A51706,AFR1706,None,False,Scheduled,None,None,...,1702456200,None,None,1.702453e+09,None,None,None,NaN,NaN,NaN

In [5]:
async def my_find() -> FindResult:
    results = await find("paris")
    assert results is not None
    return results


results = await my_find()  # type: ignore
pd.DataFrame(pd.json_normalize(results["results"]))

,id,label,type,match,detail.lat,detail.lon,detail.size
0,CDG,Paris Charles de Gaulle Airport (CDG / LFPG),airport,begins,49.012516,2.555752,201008
1,ORY,Paris Orly Airport (ORY / LFPO),airport,begins,48.723331,2.379444,84615
2,LBG,Paris Le Bourget Airport (LBG / LFPB),airport,begins,48.958801,2.433600,25959
3,BVA,Paris Beauvais-Tille Airport (BVA / LFOB),airport,begins,49.454189,2.113550,15611
4,VIY,Paris Villacoublay Velizy Air Base (VIY / LFPV),airport,begins,48.774399,2.201540,1423
5,XCR,Paris Vatry Chalons Airport (XCR / LFOK),airport,begins,48.759998,4.200000,1007
6,PRX,Paris Cox Field (PRX / KPRX),airport,begins,33.636665,-95.450279,975
7,PHT,Paris Henry County Airport (PHT / KPHT),airport,begins,36.336384,-88.384270,536

In [6]:
async def my_full_list() -> None:
    async with FR24() as fr24:
        if fr24.auth is not None:
            print(fr24.auth["message"])
        # for reg in ["B-KJA"]:
        #     logger.info(f"Updating {reg}")
        #     await fr24.cache_flight_list_upsert(reg=reg)
        #     await asyncio.sleep(2)
        fp = await fr24.cache_playback_upsert(
            flight_id=0x332E0467, timestamp=1702300500
        )
        return pd.read_parquet(fp)


await my_full_list()  # type: ignore

using subscriptionKey and/or accessToken.

,flight_id,callsign,flight_number,status_type,status_text,status_diverted,status_time,model_code,icao24,registration,owner,airline,origin,destination,median_delay,median_time
0,858653799,VJC967,VJ967,arrival,landed,None,1702306487,A21N,8946009,VN-A654,VJC,VJC,VHHH,VVDN,409,1702343937